@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --orange: #FDA214;
  --light-slate: #BCCED9;
  --dark-slate: #304859;
  --navy: #152938;
  --light-gray: #F2F2F2;
  --gray: #DFE7EC;
  --slate: #7191A5;
  --blue: #6395B8;
  --white: #FCFCFC;
}



body {
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
}

button, ul {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-weight: 700;
}

h1, h2, h3, p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
